---
layout: base.njk
title: BuSheeZy.dev | Ryan Bucshon
description: Ryan "BuSheeZy" Bucshon
---

<div>
  <img src="/images/busheezy.svg" alt="BuSheeZy" />
  <h1>Ryan Bucshon</h1>
  <h2>Full-Stack Developer</h2>
</div>

<div class="section">
  <h2>Contact</h2>

  <div class="icon-text">
    <img src="/images/gmail.svg" alt="Email" class="icon" />
    <a href="mailto:busheezy@gmail.com">busheezy@gmail.com</a>
  </div>

  <div class="icon-text">
    <img src="/images/discord.svg" alt="Discord" class="icon" />
    busheezy
  </div>

  <div class="icon-text">
    <img src="/images/instagram.svg" alt="Instagram" class="icon" />
    <a
      href="https://instagram.com/busheezy"
      target="_blank"
      rel="noopener noreferrer"
      >@busheezy</a
    >
  </div>

  <div class="icon-text">
    <img src="/images/x.svg" alt="Twitter" class="icon" />
    <a
      href="https://twitter.com/busheezy_dev"
      target="_blank"
      rel="noopener noreferrer"
      >@busheezy_dev</a
    >
  </div>

  <div class="icon-text">
    <img src="/images/steam.svg" alt="Steam" class="icon" />
    <a
      href="https://steamcommunity.com/id/ryan"
      target="_blank"
      rel="noopener noreferrer"
      >ryan</a
    >
  </div>
</div>

<div class="section">
  <h2>Skills</h2>

  <div class="icon-text">
    <img src="/images/typescript.svg" alt="TypeScript" class="icon" />
    TypeScript
  </div>

  <div class="icon-text">
    <img src="/images/nodedotjs.svg" alt="Node.js" class="icon" />
    Node.js
  </div>

  <div class="icon-text">
    <img src="/images/docker.svg" alt="Docker" class="icon" />
    Docker
  </div>

  <div class="icon-text">
    <img src="/images/react.svg" alt="React" class="icon" />
    React
  </div>

  <div class="icon-text">
    <img src="/images/vuedotjs.svg" alt="Vue.js" class="icon" />
    Vue.js
  </div>
</div>

<div class="section">
  <h2>Links</h2>

  <div class="icon-text">
    <img src="/images/github.svg" alt="GitHub" class="icon" />
    <a
      href="https://github.com/busheezy"
      target="_blank"
      rel="noopener noreferrer"
      >github.com/busheezy</a
    >
  </div>

  <div class="icon-text">
    <img src="/images/counterstrike.svg" alt="Counter-Strike" class="icon" />
    <a href="https://badservers.net" target="_blank" rel="noopener noreferrer"
      >BadServers.net</a
    >
  </div>
</div>
