---
layout: base.njk
title: BuSheeZy.dev | Ryan Bucshon
description: Ryan "BuSheeZy" Bucshon
---

<div>
  <h1>Ryan Bucshon</h1>
  <h2>Full-Stack Developer</h2>
</div>

<div class="section">
  <div>
    <h2>Skills</h2>

    <div class="icon-text">
      <img src="/images/typescript.svg" alt="TypeScript" class="icon" />
      TypeScript
    </div>

    <div class="icon-text">
      <img src="/images/nodedotjs.svg" alt="Node.js" class="icon" />
      Node.js
    </div>

    <div class="icon-text">
      <img src="/images/csharp.svg" alt="C#" class="icon" />
      C#
    </div>

    <div class="icon-text">
      <img src="/images/docker.svg" alt="Docker" class="icon" />
      Docker
    </div>

    <div class="icon-text">
      <img src="/images/react.svg" alt="React" class="icon" />
      React
    </div>

    <div class="icon-text">
      <img src="/images/vuedotjs.svg" alt="Vue.js" class="icon" />
      Vue.js
    </div>
  </div>
</div>

<div class="section">
  <div>
    <h2>Contact</h2>

    <div class="icon-text">
      <img src="/images/gmail.svg" alt="Email" class="icon" />
      <a href="mailto:busheezy@gmail.com">busheezy@gmail.com</a>
    </div>

    <div class="icon-text">
      <img src="/images/discord.svg" alt="Discord" class="icon" />
      busheezy
    </div>

    <div class="icon-text">
      <img src="/images/x.svg" alt="Twitter" class="icon" />
      <a
        href="https://twitter.com/busheezy_dev"
        target="_blank"
        rel="noopener noreferrer"
        >@busheezy_dev</a
      >
    </div>

    <div class="icon-text">
      <img src="/images/steam.svg" alt="Steam" class="icon" />
      <a
        href="https://steamcommunity.com/id/ryan"
        target="_blank"
        rel="noopener noreferrer"
        >steamcommunity.com/id/ryan</a
      >
    </div>
  </div>
</div>
